@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");

.brand {
    font-family: "Abril Fatface", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}

.card {
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 2px solid #5cb85c;

}

.btn {
    border: 1px solid #5cb85c;
    border-image-slice: 1;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover, .btn:focus {

    border: 1px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.circle {
    border-radius: 50%;
    object-fit: cover;

}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: darkgreen
}

.icon img {
    max-width: 100px;
    max-height: 100px;
}

.plant_image_card {
    max-width: 200px;
    max-height: 200px;
}

/* your CSS goes here*/
body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa
}

input.invalid {
    background-color: #ffdddd
}

.tab {
    display: none
}

button, input[type="file"], input[type="submit"] {
    border-radius: 8px;
    background-color: darkgreen;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}
form .upload {
    text-align: center;
    background: darkgreen;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
}
form .upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;

}
form .upload label {
    color: #fff;
}

button:hover {
    opacity: 0.8
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.hidden {
    display:none;
}

.visible {
    display:inline-block;
    width:40%;
}





