@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.topnav {
    height: 80px;
    background-color: #ffffff !important;
}

.topnav .navbar-items-right {
    margin: 1%;
    float: right;
}

.topnav a {
    color: #333c1c !important;
}

.topnav .navbar-items-center {
    display: inline-block;
    margin-left: 46%;
}

.topnav .navbar-items-center .brand {
    margin-top: 5%;
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
}

.container {
    height: 100vh;

    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.container > .image {
    flex: 1 0 0;
}

.container > .welcome-cards {
    padding: 15px;
    flex-direction: column;
    flex: 2 0 0;
    margin: auto 0;
}

.welcome-cards-flower-care {
    padding: 6%;
    width: 449px;
    height: 164px;
    background: #e0e7d0;
    box-shadow: 0 10px 44px -10px rgba(51, 60, 28, 0.15);
    border-radius: 10px;
}

.welcome-cards-flower-care span {
    justify-content: center;
}

.welcome-cards-flower-care p {
    font-size: 18px;
    line-height: 25px;
}

.welcome-cards {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.welcome-cards-plant-thumbnail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    object-fit: cover;
    width: 449px;
    height: 180px;
    background: #ffffff;
    box-shadow: 0 10px 44px -10px rgba(51, 60, 28, 0.15);
    border-radius: 10px;
}

.welcome-cards-image-thumbnail {
    object-fit: cover;
    width: 120px !important;
    height: 180px !important;
    border-radius: 10px 10px 10px 10px;
}

.welcome-cards-plant-name {
    font-size: 32px;
    line-height: 28px;

    color: #333c1c;
    flex-grow: 1;
    margin: 3%;
}

.welcome-cards-description {
    text-align: left;
    flex-direction: column;
    margin-right: 20%;
    padding-bottom: 8%;
    align-self: center;
    font-size: 16px;
    line-height: 14px;
}

.welcome-cards-plant-thumbnail a {
    font-size: 14px;
    line-height: 150%;
    font-style: italic;
    margin-left: 20%;
    color: #333c1c;

}

.welcome-cards-plant-species {
    text-align: center;
    align-content: center;
    font-size: 14px;
    line-height: 150%;
    font-style: italic;
}

.welcome-cards-plant-needs {
    justify-content: flex-start;
    font-size: 14px;
    line-height: 150%;
}

.welcome-cards-bottom-card {
    position: relative;

    padding: 5%;
    width: 449px;
    height: 240px;

    background: #ffffff;
    box-shadow: 0 10px 44px -10px rgba(51, 60, 28, 0.15);
    border-radius: 10px;
}

.welcome-cards-image-bottom {
    position: absolute;
    top: 1%;
    right: 2%;

    justify-content: flex-start;
    width: 137px;
    height: 137px;
}


.parent {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin-top: 2%;

    display: grid;
    grid-gap: 1%;
    justify-items: center;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.row {
    align-self: center;
}

.card {
    word-wrap: break-word;

    height: 35rem;
    width: 25rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    object-fit: cover;

    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 3% 5% 5%;
    text-align: left;
}

.card-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 0.8em;
}

.card-text {
    font-size: 0.5em;
}

.card-title a {
    color: #000;
    text-decoration: none !important;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
}

.red-dot-notification {
    position: relative;
    bottom: 220px;

    background: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.card-single-plant {
    margin-right: 25%;
    margin-left: 25%;
    padding: 1%;
    margin-bottom: 20px;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.font-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.card-single-plant img {
    max-height: 30%;
    max-width: 30%;
    object-fit: cover;
}

.card-single-plant table {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;

}

.needs {
    height: 150px;
    vertical-align: top;
    display: inline-block;
}

.caption {
    color: black;
    display: block;
}
.card_centered{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    left: 0;
    right: 0;
}
.card_register{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    width: 450px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 10px 44px -10px rgba(51, 60, 28, 0.15);
    border-radius: 10px;
}

.card_register input{
    width:275px;
    height:40px;
    background: #FFFFFF;
    border: 2px solid #E0E7D0;
    box-sizing: border-box;
    border-radius: 10px;
}
::placeholder{
    color:#D2D7C8;
}
.register_content{
    margin: auto;
    padding: 80px 100px 100px 100px;
}
.card_register button{
    margin: -30px 60px 0 30px;
    float:right;
    overflow:hidden;
    border:none;

    background: #E0E7D0;
    border-radius: 10px;
}
.card_login{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    width: 400px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 10px 44px -10px rgba(51, 60, 28, 0.15);
    border-radius: 10px;
}

.card_login input{
    width:275px;
    height:40px;
    background: #FFFFFF;
    border: 2px solid #E0E7D0;
    box-sizing: border-box;
    border-radius: 10px;
}

.login_content{
    margin: auto;
    padding: 60px 60px 60px 60px;
}
.card_login button{
    margin: 0px 65px 0 30px;
    float:right;
    border:none;
    font-variant: small-caps;

    background: #E0E7D0;
    border-radius: 10px;
}
